<nav class="navbar navbar-expand-lg bg-transparent fixed-top navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="">Say<span style="color: crimson;">yad.</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="featured">Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="store">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="about">About Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>



<!-- <section>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a routerLink="">Say<span>yad.</span></a></div>

            <ul class="menu">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="featured">Featured</a></li>
                <li><a routerLink="store">Store</a></li>
                <li><a href="about">About Us</a></li>
                <li><button href="contact">Contact</button></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</section> -->