<section>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a routerLink="">Say<span>yad.</span></a></div>

            <ul class="menu">
                <li><a routerLink="">Home</a></li>
                <li><a href="featured">Featured</a></li>
                <li><a href="store">Store</a></li>
                <li><a href="about">About Us</a></li>
                <li><button href="contact">Contact</button></li>
            </ul>
        </div>
    </nav>
</section>