<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="small-container">
    <div class="row">
        <div class="col-4">
            <h4>Watches</h4>
            <p>25% Discount</p>
            <a href="">Shop Now</a>
        </div>
        <div class="col-5">
            <h4>Watches</h4>
            <p>For Men & Women</p>
            <a href="">Shop Now</a>
        </div>
    </div>
</section>
<div class="containers">
    <div class="title">
        <p>The Best Seller of Hitheme</p>
        <h2><span>Best</span> Seller</h2>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-main">
                <div class="discount">9%</div>
                <div class="label">Pre-order</div>
                <div class="image">
                    <img src="../assets/image-14.png" alt="">
                </div>
            </div>
            <div class="content">
                <a href="">Incidid Toung Bar</a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p><span class="money">Rs.349</span><span class="price-old">529</span></p>
            </div>
        </div>
        
        <div class="card">
            <div class="card-main">
                <div class="discount">9%</div>
                <div class="label">Pre-order</div>
                <div class="image">
                    <img src="../assets/image-15.png" alt="">
                </div>
            </div>
            <div class="content">
                <a href="">Incidid Toung Bar</a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p><span class="money">Rs.349</span><span class="price-old">529</span></p>
            </div>
        </div>

        <div class="card">
            <div class="card-main">
                <div class="discount">9%</div>
                <div class="label">Pre-order</div>
                <div class="image">
                    <img src="../assets/image-16.png" alt="">
                </div>
            </div>
            <div class="content">
                <a href="">Incidid Toung Bar</a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p><span class="money">Rs.349</span><span class="price-old">529</span></p>
            </div>
        </div>

        <div class="card">
            <div class="card-main">
                <div class="discount">9%</div>
                <div class="label">Pre-order</div>
                <div class="image">
                    <img src="../assets/image-17.png" alt="">
                </div>
            </div>
            <div class="content">
                <a href="">Incidid Toung Bar</a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p><span class="money">Rs.349</span><span class="price-old">529</span></p>
            </div>
        </div>
    </div>
</div>