@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.row-1{
    justify-content: space-around;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.col-4{
    background-image: url(src/assets/image-12.jpg);
    min-height: 300px;
    float: left;
    min-width: 85vh;
    background-size: cover;
    justify-content: space-around;
    margin: auto;
    margin-top: 75px;
    color: #fff;
}
.col-5{
    background-image: url(src/assets/image-13.jpg);
    min-height: 300px;
    float: left;
    min-width: 85vh;
    background-size: cover;
    justify-content: space-around;
    margin: auto;
    margin-top: 75px;
    color: #fff;
}
.col-4 h4, .col-5 h4{
    margin: 80px 0 0 79px;
    font-size: 50px;
    font-weight: 500;
}
.col-4 p, .col-5 p{
    margin: 10px 0 0 79px;
}
.col-4 a, .col-5 a{
    display: inline-block;
    color: #fff;
    font-size: 15px;
    padding: 12px 36px;
    margin: 15px 0 0 79px;
    font-weight: 500;
    border-radius: 9px;
    border: 2px solid crimson;
    text-decoration: none;
    transition: all 0.5s ease;
}
.col-4 a:hover, .col-5 a:hover{
    background: crimson;
}

@media screen and (max-width: 600px){
    .col-4{
        background-image: url(src/assets/image-12.jpg);
        min-height: 175px;
        float: left;
        min-width: 60vh;
        background-size: cover;
        justify-content: space-around;
        margin: auto;
        margin-top: 75px;
        color: #fff;
    }
    .col-5{
        background-image: url(src/assets/image-13.jpg);
        min-height: 175px;
        float: left;
        min-width: 60vh;
        background-size: cover;
        justify-content: space-around;
        margin: auto;
        margin-top: 75px;
        color: #fff;
    }
    .col-4 h4, .col-5 h4{
        margin: 45px 0 0 49px;
        font-size: 30px;
        font-weight: 500;
    }
    .col-4 p, .col-5 p{
        margin: 2px 0 0 49px;
    }
    .col-4 a, .col-5 a{
        display: inline-block;
        color: #fff;
        font-size: 14px;
        padding: 7px 16px;
        margin: 5px 0 0 49px;
        font-weight: 500;
        border-radius: 9px;
        border: 2px solid crimson;
        text-decoration: none;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 947px){
    .col-4{
        background-image: url(src/assets/image-12.jpg);
        min-height: 175px;
        float: left;
        min-width: 60vh;
        background-size: cover;
        justify-content: space-around;
        margin: auto;
        margin-top: 75px;
        color: #fff;
    }
    .col-5{
        background-image: url(src/assets/image-13.jpg);
        min-height: 175px;
        float: left;
        min-width: 60vh;
        background-size: cover;
        justify-content: space-around;
        margin: auto;
        margin-top: 75px;
        color: #fff;
    }
    .col-4 h4, .col-5 h4{
        margin: 45px 0 0 49px;
        font-size: 30px;
        font-weight: 500;
    }
    .col-4 p, .col-5 p{
        margin: 2px 0 0 49px;
    }
    .col-4 a, .col-5 a{
        display: inline-block;
        color: #fff;
        font-size: 14px;
        padding: 7px 16px;
        margin: 5px 0 0 49px;
        font-weight: 500;
        border-radius: 9px;
        border: 2px solid crimson;
        text-decoration: none;
        transition: all 0.5s ease;
    }
}