<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="small-container">
    <div class="row-1">
        <div class="col-4">
            <!-- <img src="../assets/image-12.jpg" alt=""> -->
            <h4>Watches</h4>
            <p>25% Discount</p>
            <a href="">Shop Now</a>
        </div>
        <div class="col-5">
            <!-- <img src="../assets/image-12.jpg" alt=""> -->
            <h4>Watches</h4>
            <p>For Men & Women</p>
            <a href="">Shop Now</a>
        </div>
    </div>
</div>