*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    background: url(src/assets/image-35.jpg);
    background-size: cover;
    height: 300px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 25px 0 0 25px;
}
.comp p{
    font-size: 25px;
    font-weight: 500;
    margin-top: 75px;
}